.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.env.development
.env.development
application/controllers/Penentuan_panelis.php
.env.development
application/models/Panelis_model.php
application/views/pages/penentuan_panelis/list_penentuan_panelis.php
application/views/pages/penentuan_panelis/tambah_panelis.php
application/views/pages/penentuan_tanggal_seminar/edit_tanggal.php
application/views/pages/penentuan_panelis/edit_panelis.php
.env.development
