@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);
body {
	font-family: "Poppins", sans-serif;
	background: #f2f7fb;
	font-size: 15px;
	align-items: center;
}
.box-login {
	margin-top: 10%;
	border-radius: 10px;
	overflow: auto;
	position: relative;
	width: 100%;
	background: white;
}
.box-login .top {
	background: url("../../assets/img/bglogin.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 70px 15px;
	text-align: center;
	position: relative;
}
.box-login .body {
	position: relative;
	padding: 40px;
}
.box-login .top p {
	color: white;
	position: relative;
	z-index: 2;
	letter-spacing: 1px;
	font-size: 30px;
	font-weight: bold;
}
.box-login .top::before {
	content: "";
	background: rgba(54, 84, 99, 0.7);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
}
.form-underline {
	display: block;
	position: relative;
}
.form-underline input {
	width: 100%;
	border: none;
	color: #777777;
	border-bottom: 1px solid #becbcd;
	font-size: 14px !important;
	padding: 10px 0px;
	transition: all.3s ease;
}
.form-underline input:focus {
	border-bottom: 1px solid #4099ff;
}
.form-underline span {
	position: absolute;
	right: 0;
	top: 25%;
}
.form-underline input::placeholder {
	opacity: 0.8;
}
.form-underline input:focus {
	outline: none;
}
.bg-light {
	background: #ebeeef !important;
}
.copyright {
	color: #83969c;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}
.ls-1 {
	letter-spacing: 1px;
}
.table-custom thead {
	background: #e9ecf5;
	font-weight: bold;
	letter-spacing: 0.5px;
	border-bottom: 3px solid #99a1ac;
	color: #333;
}
.solid-color {
	color: #333;
}
.select2-container--default{
	width : 100%  !important;
}
.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background: #42a5f5;
}
.datepicker th.prev,
.datepicker th.next {
	background: #f8f9fc;
}
.btn-primary:hover {
	background: #53a5ff !important;
	border-color: #53a5ff !important;
}
label {
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 15px;
	color: #333;
}
.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: #6e707e !important;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #d1d3e2;
}
.select2-container .select2-selection--single {
	height: calc(1.5em + 0.75rem + 2px);
}
.form-control:focus {
	box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.25);
}
.dataTable.datatable {
	width: 100% !important;
}
.btn {
	font-size: 14px !important;
}
.btn-default {
	background: white !important;
	box-shadow: 0 0 0 0.1rem rgba(78, 115, 223, 0.15);
}
.dropdown-link button {
	padding: 3px 0.75rem;
	font-size: 14px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: rgb(0, 0, 0, 0.02);
}
#wrapper #content-wrapper{
	background: #edf2f7;
}
@media (min-width: 768px) {
	.sidebar {
		width: 16.5% !important;
	}
}
.left-sidebar {
	width: 16.5%;
	position: relative;
}
.sidebar-toggled .left-sidebar {
	width: 7%;
	position: relative;
}
.sidebar-toggled #wrapper #content-wrapper {
	width: 93%;
}
.sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb
{
	background-color: #334960;
}
.sidebar {
	height : 100%;
	overflow-y: auto !important;
	position: fixed;
	background: #263544;
	z-index: 100;
}
.sidebar-brand {
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
	margin-bottom : 1.5rem;
}
.sidebar-dark .nav-item .nav-link {
	width: 100%;
}
.sidebar .nav-item a,
.sidebar-dark .nav-item .nav-link i {
	color: #b7c0cd !important;
}
.nav-item.active{
	background : #222d3b;
}
.nav-item.active .nav-link i, .nav-item.active .nav-link span{
	color: #42a5f5 !important;
}
.sidebar .nav-item .nav-link i {
	font-size: 15px !important;
	margin-right: 1rem;
}
.sidebar .nav-item .nav-link span{
	font-size: 14px !important;
	font-weight: 300;
}
.sidebar .nav-item{
	transition: all.5s ease;
	-webkit-transition: all.5s ease;
	-moz-transition: all.5s ease;
	-o-transition: all.5s ease;
}
.sidebar .nav-item:hover{
	background : #222d3b;
}
.sidebar .nav-item:hover .nav-link span,
.sidebar .nav-item:hover .nav-link i,
.sidebar .nav-item .nav-link:focus span,
.sidebar .nav-item .nav-link:focus i {
	color: #42a5f5 !important;
}
.sidebar-heading {
	color: #fff !important;
	letter-spacing: 0.5px;
	font-weight: normal !important;
	margin-top: 20px;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
	background-color: transparent;
	color: #42a5f5 !important;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item span,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item span {
	font-size: 9px;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
	padding: 0.5rem 0rem !important;
	font-size: 14px;
	font-weight: 300;
}
.sidebar .nav-item .collapse {
	background: #222d3b;
	margin: 0px !important;
	padding: 0 1rem;
	transition: all.2s ease;
	-webkit-transition: all.2s ease;
	-moz-transition: all.2s ease;
	-o-transition: all.2s ease;
	border-left: 2px solid #42a5f5;
}
.shadow {
	-webkit-box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1) !important;
	box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1) !important;
}
#wrapper #content-wrapper {
	width: 83.5%;
}
.card {
	-webkit-box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1) !important;
	box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1) !important;
	border : none;
}
.card-dashboard.has-notif{
	overflow: hidden;
}
.card-dashboard.has-notif,.card-dashboard.has-notif:hover{
	-webkit-box-shadow: 0px 4px 40px rgba(255, 193, 7, 0.25) !important; 
	box-shadow: 0px 4px 40px rgba(255, 193, 7, 0.25) !important;
}
.card-dashboard.has-notif::before{
	content :"\f0f3";
	font-size: 5em;
	position: absolute;
	color : #ffc107;
	opacity: .8;
	left : 0;
	top : 0;
	transform: translate(-25%,-25%);
	font-family: "Font Awesome 5 Free";
	font-weight: 900;	
	
}
.sidebar .nav-item .nav-link span.badge{
	font-size : 12px !important;
	font-weight: bold;
	padding: .15em .5em;
}
.badge-yellow{
	background: #ffc107;
	color : white;
}
.card-dashboard {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border : none;
	transition: all.5s ease;
}
.card-dashboard:hover {
	-webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25) !important; 
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25) !important;
}
.sidebar-toggled .navbar.topbar {
	width: 93%;
}
.navbar.topbar {
	width: 83.5%;
	position: fixed;
	z-index: 100;
}
.common-container {
	margin-top: 100px;
}
.info-icon-page {
	margin-right: 5px;
	font-size: 20px;
	background: #42a5f5;
	color: white;
	padding: 10px 13px;
	border-radius: 5px;
	box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
}
.info-text-page,
.info-text-page a {
	color: #37474f;
	font-size: 13px;
	letter-spacing: 0.3px;
	margin-right: 3px;
}
.info-text-page span {
	font-size: 10px;
}
.info-text-page a:hover {
	color: #42a5f5;
}
.color-white {
	color: white !important;
}
.color-green {
	color: #0f6848;
}
.color-blue {
	color: #42a5f5;
}
.color-primary {
	color: #373c6d;
}
a:hover {
	text-decoration: none;
}
.modal-header {
	background: #42a5f5;
	color: white;
}
.f-15 {
	font-size: 15px;
	letter-spacing: 0.5px;
}
.custom-alert{
	position: relative;
	overflow: hidden;
}
.custom-alert .sticky{
	position: absolute;
	top : 0;
	left : 0;
	transform: translate(-25%,-25%);
	font-size: 50px;
	opacity: .3;
}

@media (max-width: 768px) {
	.left-sidebar,
	.sidebar {
		width: 0% !important;
	}
	#wrapper #content-wrapper,
	.navbar.topbar {
		width: 100% !important;
	}
	.left-sidebar .navbar-nav {
		overflow: hidden !important;
	}

	.sidebar.toggled {
		width: 40% !important;
		overflow: inherit !important;
	}
}
